.cNrjqJ {
  background: #F1F3F4 !important;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.1) !important;
  font-family: Roboto !important;
  font-weight: 400 !important;
  border-radius: 20px !important;
  padding: 5px !important;
  font-size: small !important;
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  -webkit-transform: translate(-50%,-50%) !important;
  -ms-transform: translate(-50%,-50%) !important;
  transform: translate(-50%,-50%) !important;
  width: 95% !important;
  margin-top: -10px;
}

.cMWoBu {
  float: left;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  background: #009345 !important;
  border-radius: 5px;
  padding: 5px;
  margin: 0px 5px 5px 0px;
}
